<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.3.0.947036" targetFramework="net472" />
  <package id="Xamarin.Forms.Visual.Material" version="4.3.0.947036" targetFramework="net472" />
</packages>